<div class="return-bouton-treatments">
  <%= link_to url_for(:back) do %>
    <%= image_tag "icones/retour.svg" %>
  <% end %>
</div>
<div class="container-edit-team w-100 px-3">
  <h2>MODIFIER UN GROUPE</h2>
  <%= simple_form_for(@team) do |f| %>
    <%= f.input :name, label: "Nom du groupe :", placeholder: " "%>
    <%= f.input :area, label: "Zone géographique :", placeholder: " "%>
    <%= f.input :nb_member_to_add, label: "Nombre de membres à ajouter :", placeholder: " "%>

    <div class="d-flex justify-content-center">
      <%= f.button :submit, "Modifier", class: "btn-submit" %>
    </div>
  <% end %>
</div>
