<div class="container-team-index">
    <h2>GROUPE D'INFIRMIERS</h2>
    <%= link_to "AJOUTER UN GROUPE", new_team_path,class:"btn-create-team" %>
    <% @teams.each do |team| %>
      <h2 class="title-team">Groupe <%= team.area %></h2>
      <strong><%= team.name %></strong>
      <% team.memberships.each do |membership| %>
        <%= membership.user.first_name %>
        <%= membership.user.last_name %>
      <% end%>
      <% if current_user == team.creator %>
        <br>
        <div class="d-flex justify-content-center">
          <%= link_to "MODIFIER",  edit_team_path(team),class:"btn-edit-team" %>
        </div>
      <% end%>
      <br>
      <br>
    <% end%>
  </div>
</div>
