<div class="container_center">
  <div class="container_logo">
    <h1>Groupe d'infirmiers</h1>
    <%= link_to "+", new_team_path,class:"btn btn-create" %>
    <% @teams.each do |team| %>
      <h2>Groupe <%= team.area %></h2>
      <strong><%= team.name %></strong>
      <% team.memberships.each do |membership| %>
        <%= membership.user.first_name %>
        <%= membership.user.last_name %>
      <% end%>
      <% if current_user == team.creator %>
        <br>
        <%= link_to "Modifier le groupe",  edit_team_path(team),class:"btn-add-treatment" %>
      <% end%>
      <br>
      <br>
    <% end%>
  </div>
</div>
