<div class="return-bouton-treatments">
  <%= link_to url_for(:back) do %>
    <%= image_tag "icones/retour.svg" %>
  <% end %>
</div>
<div class="container-add-team w-100 px-3">
  <h2 class="text-center">AJOUTER UNE TEAM</h2>
  <div class="w-75 mt-4 h-25">
    <%= simple_form_for(@team) do |f| %>
      <%= f.input :name, label: "Nom du groupe :",wrapper_html: { class:"input-groupe" },
                        input_html: { class:"input" },
                        label_html: { class:"user-label" }, placeholder: " "%>
      <%= f.input :area, label: "Zone géographique :",wrapper_html: { class:"input-groupe" },
                        input_html: { class:"input" },
                        label_html: { class:"user-label" }, placeholder: " "%>
      <%= f.input :number_membership,wrapper_html: { class:"input-groupe" },
                        input_html: { class:"input" },
                        label_html: { class:"user-label" }, label: "Nombre de membres à ajouter :", placeholder: " "%>
      <div class="d-flex justify-content-center">
        <%= f.button :submit, "CREER LA TEAM", class: "btn-submit" %>
      </div>
  <% end %>
</div>
