<div class="return-bouton-treatments">
  <%= link_to url_for(:back) do %>
    <%= image_tag "icones/retour.svg" %>
  <% end %>
</div>

<div class="general-div">

  <h3>MODIFIER UN<br>SOIN</h3>

  <div class="d-flex justify-content-center m-3">
    <div id="input-custom" class="input-g">
      <%= simple_form_for  [@treatment] do |f| %>

        <%= f.input :category, label: "",
        as: :radio_buttons,
        collection_wrapper_tag: 'div',
        collection_wrapper_class: 'category-wrapper',
        item_wrapper_class: 'category-item',
        input_html: {class: 'category-selector treatment_category'},
        collection: Treatment::CATEGORY %>

        <%= f.input :content, :label => false, placeholder: "Détail du soin",
          wrapper_html: { class:"input-groupe" },
          input_html: { class:"input"},
          label_html: {class:"user-label"} %>

        <div class="d-flex justify-content-center">
          <%= f.button :submit, "MODIFIER LE SOIN", class: "btn" %>
        </div>
      <% end %>

      <div class="destroy-element" data-controller="modal-confirmation-to-destroy">
        <p class="btn" data-action="click->modal-confirmation-to-destroy#displayModal">SUPPRIMER LE SOIN</p>
        <%# modal displayed when btn "SUPPRIMER LE SOIN" is clicked %>
        <%= render "shared/destroy_confirmation_modal",
          path: treatment_path(@treatment),
          message_confirmation: "Voulez-vous vraiment supprimer le soin?",
          recurring: @recurring,
          message_confirmation_récurrence: "Voulez-vous supprimer les soins régulier?",
          message_frequency: @frequency_message,
          group_path: @group_path %>
      </div>
    </div>
  </div>
</div>
