<div class="return-bouton-treatments">
  <%= link_to consultation_path(@note.creation_consultation) do %>
    <%= image_tag "icones/retour.svg" %>
  <% end %>
</div>

<div class="general-div">

  <h3>MODIFIER<br>LA NOTE</h3>

  <div class="note-container">
    <%= simple_form_for(@note) do |f| %>
      <%= hidden_field_tag 'consultation_id', params[:consultation_id] %>
      <%= f.input :content, label: "Details", placeholder: " ",
                wrapper_html: { class:"input-groupe" },
                input_html: { class:"input"},
                label_html: {class:"user-label"} %>
      <%= f.input :favorite,
                  as: :radio_buttons,
                  collection: [["Permanent", true], ["Prochaine séance", false]],
                  label: "Récurrence",
                  placeholder: " ",
                  required: true %>
      <div class="d-flex justify-content-center">
        <%= f.button :submit, "MODIFIER LA NOTE", class: "btn" %>
      </div>
    <% end %>

    <div class="destroy-element" data-controller="modal-confirmation-to-destroy">
      <p class="btn" data-action="click->modal-confirmation-to-destroy#displayModal">SUPPRIMER LA NOTE</p>
      <%# modal displayed when btn "SUPPRIMER LA NOTE" is clicked %>
      <%= render "shared/destroy_confirmation_modal", path: note_path(@note), message: "Voulez-vous vraiment supprimer la note?" %>
    </div>
  </div>
</div>
