<div class="container_index_consult">
  <%= link_to "+", new_patient_path, class:"btn btn-create mt-3" %>

  <div class="d-flex justify-content-evenly">
    <%= link_to "<", consultations_path(next_date: params[:current_day] - 1.day ), class:"btn btn-calendar" %>
    <h1 class="d-flex justify-content-center m-3 date"> <%= params[:current_day].strftime('%A %d %b') %> </h1>
    <%= link_to ">", consultations_path(next_date: params[:current_day] + 1.day ), class:"btn btn-calendar" %>
  </div>

  <% @consultations.each do |consultation| %>
    <div class="card-consult-calendar d-flex justify-content-evenly">
      <%= consultation.start_date.strftime("%I:%M") %>
      <%= link_to consultation_path(consultation.id) do %>
        <div class="card-consult">
          <div class="card-consult-header">
            <%= image_tag "avatar_homme.svg" %>
            <div class="card-info">
              <div class="card-patient-name">
                <%= consultation.patient.first_name %> <%= consultation.patient.last_name %>
              </div>
              <div class="info-adresse">
                <i class="fa-solid fa-location-dot"></i>
                <div class="text-adresse"> <%= consultation.patient.address %></div>
              </div>
            </div>
          </div>
          <div class="card-traitement">
            <% consultation.treatments.each do |treatment| %>
              <div class="tag-soins <%= treatment.category.downcase %>"> <%= treatment.category %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
