<div class="container_index_consult">

  <div class="d-flex justify-content-evenly m-3">
    <%= link_to consultations_path(next_date: params[:current_day] - 1.day ), class:"btn btn-calendar" do %>
      <i class="fas fa-caret-left"></i>
    <% end %>
    <h1 class="d-flex justify-content-center m-3 date"> <%= l(params[:current_day], format: '%A %d %b') %> </h1>
    <%# <h2> <%= t("hello_with_name", name: "Martin") %>
    <%= link_to consultations_path(next_date: params[:current_day] + 1.day ), class:"btn btn-calendar" do %>
      <i class="fas fa-caret-right"></i>
    <% end %>
  </div>

  <% @consultations.each do |consultation| %>
    <div class="card-consult-calendar d-flex justify-content-evenly">
      <%= l(consultation.start_date, format: "%H:%M") %>

      <%= link_to consultation_path(consultation.id) do %>

        <% if consultation.done? == false %>

        <%# Beggning of the undone card %>
        
          <div class="card-consult">
            <div class="card-consult-header">
              <% if consultation.patient.gender == "Homme" %>
                  <%= image_tag "avatar_homme.svg" %>
                <% else %>
                  <%= image_tag "avatar_femme.svg" %>
                <% end %>
              <div class="card-info">
                <div class="card-patient-name">
                  <%= consultation.patient.first_name %> <%= consultation.patient.last_name %>
                </div>
                <div class="info-adresse">
                  <i class="fa-solid fa-location-dot"></i>
                  <div class="text-adresse"> <%= consultation.patient.address %></div>
                </div>
              </div>
            </div>
            <div class="card-traitement">
              <% consultation.treatments.each do |treatment| %>
                <div class="tag-soins <%= treatment.category.downcase %>"> <%= treatment.category %></div>
              <% end %>
            </div>
          </div>

        <%# End of the undone card %>

        <% else %>

        <%# Beggining of the done card %>
          <div class="card-done">
            <div class="card-consult-done">
              <div class="card-consult-header">
                <% if consultation.patient.gender == "Homme" %>
                    <%= image_tag "avatar_homme.svg" %>
                  <% else %>
                    <%= image_tag "avatar_femme.svg" %>
                  <% end %>
                <div class="card-info">
                  <div class="card-patient-name">
                    <%= consultation.patient.first_name %> <%= consultation.patient.last_name %>
                  </div>
                  <div class="info-adresse">
                    <i class="fa-solid fa-location-dot"></i>
                    <div class="text-adresse"> <%= consultation.patient.address %></div>
                  </div>
                </div>
              </div>
              <div class="card-traitement">
                <% consultation.treatments.each do |treatment| %>
                  <div class="tag-soins <%= treatment.category.downcase %>"> <%= treatment.category %></div>
                <% end %>
              </div>
            </div>
          </div>


        <%# End of the done card %>

        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
