<h3 class="d-flex justify-content-center mt-4 mb-3"> Informations sur la consultation </h3>
<div class="new_consult" >
  <div class="d-flex justify-content-center m-3" >
    <div >
      <%= simple_form_for @consultation do |f| %>
        <div class="consultation_new">
          <%= f.input :patient_id,
                      collection: Patient.all.order(last_name: :asc),
                      label: " Patient(e) ",
                      label_method: :display_full_name,
                      value_method: :id,
                      placeholder: " ",
                      wrapper_html: { class:"input-groupe" },
                      input_html: { class:"input" },
                      label_html: { class:"user-label" } %>
        </div>
        <div class="consultation_new">
          <%= f.input :start_date, label: "Date & heure", placeholder: " ",
                      as: :datetime,
                      html5: true,
                      label: false,
                      required: false,
                      wrapper_html: { class:" datefield-without-calendar"},
                      input_html: { class:"input" },
                      label_html: { class:"user-label" } %>
        </div>
        <div class="consultation_new">
          <%= f.input :user_id,
                      collection: User.all.order(last_name: :asc),
                      label: " Infirmier(e) ",
                      label_method: :display_full_name,
                      value_method: :id,
                      selected: current_user,
                      placeholder: " ",
                      wrapper_html: { class:"input-groupe" },
                      input_html: { class:"input" },
                      label_html: { class:"user-label" } %>
        </div>
        <div class="text-center">
          <p>Votre patient n'apparait pas dans la liste? Créez le !</p>
          <%= link_to "Créer un patient", new_patient_path,class:"btn btn-add-treatment"%>
        </div>

        <div class="d-flex justify-content-center">
          <%= f.button :submit, "Créer une consultation", class: "btn-submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
