<div class="container-sm show-consultation">

  <%# Button to edit the consultation date - START %>
  <div class="" data-controller="edit">
    <div>
      <button class="btn btn-submit" data-action="click->edit#displayForm">Modifier la date de consultation</button>
    </div>

    <div class="d-none" data-edit-target="form">
      <%= simple_form_for @consultation do |f| %>

        <div class="consultation_new">
          <%= f.input :start_date, label: "Date & heure", placeholder: " ",
                      as: :datetime,
                      html5: true,
                      label: false,
                      required: false,
                      wrapper_html: { class:" datefield-without-calendar"},
                      input_html: { class:"input" },
                      label_html: { class:"user-label" } %>
        </div>

        <div class="d-flex justify-content-center">
          <%= f.button :submit, "Confirmer le changement", class: "btn btn-submit" %>
        </div>

      <% end %>
    </div>
  </div>
  <%# Button to edit the consultation date - END %>

  <%= link_to patient_path(@consultation.patient) do %>
    <div class="card-consult">
      <div class="card-consult-header">
        <%= image_tag "avatar_homme.svg" %>
        <div class="card-info">
          <div class="card-patient-name">
            <%= @consultation.patient.first_name %>  <%= @consultation.patient.last_name %>
          </div>
          <div class="info-adresse">
            <i class="fa-solid fa-location-dot"></i>
            <div class="text-adresse"><%= @consultation.patient.address %></div>
          </div>
          <div class="text-date"><%=l(@consultation.start_date, format: "%A %d %b %H:%M")%></div>
        </div>
      </div>
      <div class="card-traitement">
      </div>
    </div>
  <% end %>

  <% @consultation.treatments.each do |treatment| %>
    <i class="fal fa-ball-pile"></i>
    <div id="checkbox-custom" class="checkbox-container">
      <div class="checkbox-wrapper">
        <div class="d-flex">
          <% case treatment.category  %>
          <% when "Injection" %>
            <%= image_tag "picto-categories/picto-injection.svg" %>
          <% when "Pansement" %>
            <%= image_tag "picto-categories/picto-pansement.svg" %>
          <% when "Prélèvement" %>
            <%= image_tag "picto-categories/picto-prelevement.svg" %>
          <% when "Perfusion" %>
            <%= image_tag "picto-categories/picto-perfusion.svg" %>
          <% when "Hygiène" %>
            <%= image_tag "picto-categories/picto-hygiene.svg" %>
          <% when "Aide\ domicile" %>
            <%= image_tag "picto-categories/picto-domicile.svg" %>
          <% when "Médicament" %>
            <%= image_tag "picto-categories/picto-medicament.svg" %>
          <% when "Diabétique" %>
            <%= image_tag "picto-categories/picto-diabete.svg" %>
          <% when "Autre" %>
            <%= image_tag "picto-categories/picto-nurse.svg" %>
          <% end %>
          <p class="p-3"><%= treatment.content %></p>
        </div>
        <div class="check d-flex align-items-center" data-controller="form">


          <%= simple_form_for treatment, url: treatment_path(treatment), html: { data: { controller: "form", 'turbo-method': :patch } } do |f| %>
            <%= f.input :done, as: :boolean, label: false, input_html: { data: { action: "change->form#submit" } }%>
          <% end %>


          <%# Edit treament icon - START %>
          <%= link_to edit_treatment_path(treatment), class:"p-2" do %>
            <i class='fa-solid fa-pen-to-square'></i>
          <% end %>
          <%# Edit treament icon - END %>

          <%# Delete treament icon - START %>
          <%= link_to treatment_path(treatment), data: {turbo_method: :delete, turbo_confirm: "Supprimer ?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
          <%# Delete treament icon - END %>


        </div>
      </div>
    </div>
  <% end %>

  <%= link_to "Ajouter un soin", new_consultation_treatment_path(@consultation), class:"btn btn-add-treatment" %>

  <%# notes %>

  <%# TO DO : Afficher toutes les notes créées à la consultation d'avant %>

  <div class="card-note">
    <div class="top-note">
      <h5>Notes :</h5>
      <% @final_notes.each do |note| %>
        <div class="note-content"  data-controller="star">
          <p><%= note.content %></p>
          <%= link_to add_to_favorites_note_path(note), data: { turbo_method: "PATCH"}  do %>
            <% if note.favorite == true %>
              <i data-star-target="starIcon" data-action="click->star#changeStarClass" class="fa-solid fa-star"></i>
            <% else %>
               <i data-star-target="starIcon" data-action="click->star#changeStarClass" class="fa-regular fa-star"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%= link_to "Ajouter une note", new_consultation_note_path(@consultation), class:"btn btn-add"%>
    </div>
  </div>
  <%= link_to "Fermer la consultation", consultations_path, class:"btn btn-submit" %>
</div>
