<br>
<div class="patient-profile-section" data-bs-toggle="collapse" data-bs-target="#info-perso">
  <span>Informations personnelles</span> <i class="fa-solid fa-chevron-down"></i>
</div>

<div class="collapse" id="info-perso">
  <div class="patient-profile-section-detail">
    <div class="patient-profile-section-detail-item">
      <i class="fa-solid fa-phone"></i> <span><%= @patient.tel_number %></span>
    </div>
    <div class="patient-profile-section-detail-item">
      <i class="fa-solid fa-envelope"></i>
      <span><%= @patient.email %></span>
    </div>
    <div class="patient-profile-section-detail-item">
      <i class="fa-solid fa-cake-candles"></i>
      <span><%= @patient.birth_day %></span>
    </div>
    <div class="patient-profile-section-detail-item">
      <i class="fa-solid fa-venus-mars"></i>
      <span><%= @patient.gender %></span>
    </div>
  </div>
</div>
<hr>
<div class="patient-profile-section" data-bs-toggle="collapse" data-bs-target="#info-med">
  <span>Informations médicales</span> <i class="fa-solid fa-chevron-down"></i>
</div>

<div class="collapse" id="info-med">
  <div class="patient-profile-section-detail">
    <div class="patient-profile-section-detail-item">
      <i class="fa-solid fa-address-card"></i>
      <span><%= @patient.ss_number %></span>
    </div>
    <div class="patient-profile-section-detail-item">
      <i class="fa-solid fa-ruler"></i>
      <span><%= @patient.height %></span> <p>cm</p>
    </div>
    <div class="patient-profile-section-detail-item">
      <i class="fa-solid fa-weight-scale"></i>
      <span><%= @patient.weight %></span> <p>kg</p>
    </div>
    <div class="patient-profile-section-detail-item">
      <i class="fa-solid fa-droplet"></i>
      <span><%= @patient.blood_type %></span>
    </div>
  </div>
</div>
<hr>
<div class="patient-profile-section" data-bs-toggle="collapse" data-bs-target="#info-emerg" >
  <span>Contact urgence</span> <i class="fa-solid fa-chevron-down"></i>
</div>

<div class="collapse" id="info-emerg">
  <div class="patient-profile-section-detail">
    <div class="patient-profile-section-detail-item">
      <i class="fa-solid fa-user"></i>
      <h6>Proches</h6>
    </div>
    <div class="proche-emergency">
      <div class="patient-profile-section-detail-item">
        <span><%= @patient.emergency_contact_name %></span>
      </div>
      <div class="patient-profile-section-detail-item">
        <span><%= @patient.emergency_contact_tel %></span>
      </div>
    </div>
    <div class="patient-profile-section-detail-item">
      <i class="fa-solid fa-user-doctor"></i>
        <h6>Médecin référent</h6>
    </div>
      <div class="doctor-emergency"><%= @patient.referring_doctor %></div>
  </div>
</div>
<hr>
