<div data-controller="see-all">
  <div class="" data-see-all-target="first3consultations">
    <% @last_3_consultations.each do |consultation| %>
      <%= link_to consultation_path(consultation.id) do %>
        <div class="consultation-card-pink">
          <div class="consultation-card-pink-date">
            <%=l(consultation.start_date, format: "%A %d %b %H:%M").to_s.capitalize%>
          </div>
          <div class="consultation-card-pink-text">
            <% consultation.treatments.each do |treatment| %>
              <%= image_tag "picto-categories/picto-#{treatment.category.downcase}.svg" %>
              <span><%= treatment.content %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <br>
  <%# Below: "Afficher plus" link %>
  <div class="bottom-link">
    <a  data-see-all-target="button" data-action="click->see-all#revealContent">Afficher plus</a>
  </div>
  <div class="d-none" data-see-all-target="allconsultations">
    <% @consultations.each do |consultation| %>
      <%= link_to consultation_path(consultation.id) do %>
        <div class="consultation-card-pink" >
          <div class="consultation-card-pink-date">
            <%=l(consultation.start_date, format: "%A %d %b %H:%M").to_s.capitalize%>
          </div>
          <div class="consultation-card-pink-text">
            <% consultation.treatments.each do |treatment| %>
              <%= image_tag "picto-categories/picto-#{treatment.category.downcase}.svg" %>
              <span><%= treatment.content %></span>
            <% end %>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
