<div id="cards-index-patients" data-search-patients-target="list">
  <% @patients.each do |patient| %>
    <%= link_to patient_path(patient.id) do %>
      <div class="d-flex justify-content-center">
        <div class="card-index-patients">
          <div class="card-consult-header">
            <% if patient.gender == "Homme" %>
              <%= image_tag "icones/homme.svg" %>
            <% else %>
              <%= image_tag "icones/femme.svg" %>
            <% end %>
            <div class="card-info">
              <div class="card-patient-name">
                <strong><%= patient.last_name.upcase %></strong> <%= patient.first_name %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
