<div class="container-sm">
  <h3>Patients du cabient </h3>
  <%= form_with url: patients_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a patient"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <% @patients.each do |patient| %>
    <%= link_to patient_path(patient.id) do %>
      <div class="d-flex justify-content-center ">
        <div class="card-consult-index-patients">
          <div class="card-consult-header">
            <%= image_tag "avatar_homme.svg" %>
            <div class="card-info">
              <div class="card-patient-name">
                <%= patient.first_name %> <%= patient.last_name %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
