<div class="patient-show-main-container">
  <div class="patient-show-container-top">

    <div class="back-arrow">
      <%= image_tag "icones/retour.svg" %>
    </div>

    <div class="patient-avatar">
      <% if @patient.gender == "Homme" %>
          <%= image_tag "avatar_homme.svg" %>
      <% else %>
          <%= image_tag "avatar_femme.svg" %>
      <% end %>

      <span class="patient-first-name"><%= @patient.first_name %></span>
      <span class="patient-last-name"><%= @patient.last_name %></span>

  </div>

  <div class="patient-show-container-middle">

    <div class="nav nav-tabs nav-justified">
      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#nav-profile">Fiche patient</button>
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-consultations">Consultations</button>
    </div>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="nav-profile">
        <%= render "shared/fiche_patient" %>
      </div>
      <div class="tab-pane fade" id="nav-consultations">
        <%= render "consultations_patient" %>
      </div>
    </div>
  </div>

  <div class="patient-show-container-bottom">
  </div>
</div>
