<div class="session-new-general-div">
  <div class="session_container_imag_title">
    <div class="img_session">
    <%= image_tag "logo-rose.svg", data: { inject: { svg: "svg/ligne.svg" } }, :width => 300 %>
    </div>
    <h2>Connexion</h2>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="formulaire">
      <%= f.input :email,
                  placeholder: 'Email',
                  required: false,
                  :label => false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  placeholder: 'Mot de passe',
                  required: false,
                  :label => false,
                  input_html: { autocomplete: "current-password" } %>
    </div>
    <div class="container_btn_session">
      <%= f.button :submit, "Se connecter" %>
    </div>
  <% end %>
  <div class="container_link">
    <%= render "devise/shared/links" %>
  </div>
</div>
