<!DOCTYPE html>
<html>
  <head>
    <title>Dahlia</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- not allowed zoom in or zoom out on the app -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Toast UI calendar -->
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json.erb' %>">
    <%= render 'shared/ios_pwa_links' %>

  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
    <!-- do not display navbar on home page, on sign_up page or on registration page -->
    <%= render "shared/navbar_dahlia" unless current_page?('/') || controller.controller_name == 'sessions' || controller.controller_name == 'registrations' %>

  </body>
</html>
